<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>top.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
  	<table>
    	<tr>
    	<td><img src="../img/train.png" height="100" width="200"></img></td>
    	<td><a href="http://127.0.0.1:8000/index/main.html" target="mainframe">首页</a></td>
    	<td><a href="http://127.0.0.1:8000/news/" target="mainframe">铁路资讯</a></td>
    	<td><a href="http://127.0.0.1:8000/train/" target="mainframe">列车查询</a></td>
    	<td><a href="http://127.0.0.1:8000/ticketQuery/" target="mainframe">车票查询</a></td>
    	<td><a href="http://127.0.0.1:8000/mydomain/" target="mainframe">我的地盘</a></td>
	<td><a href="http://127.0.0.1:8000/admin/" target="mainframe">管理员</a></td>
    	</tr>
    </table>
  </body>
</html>
