<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>铁路新闻</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
	<div>您现在的位置：<a href="/index/main.html">首页</a>-><a href="/news/">铁路资讯</a>->{{news.article_list.title}}->正文</div>
	<h2>{{news.title}}</h2><br>
	{{news.article}}
  </body>
</html>
